In [1]:
import os   
import pandas as pd   
import numpy as np

In [2]:
from pybaseball import batting_stats

In [3]:
START = 2003
END = 2023

In [4]:
batting = batting_stats(START, END, qual=200)
batting.to_csv("batting.csv")
batting = batting.groupby("IDfg", group_keys = False). filter(lambda x: x.shape[0] >1)

In [5]:
batting

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA,L-WAR
0,1109,2004,Barry Bonds,SFG,39,147,373,617,135,60,...,NaN,NaN,NaN,0,0.124,0.164,NaN,NaN,NaN,11.9
5,15640,2022,Aaron Judge,NYY,30,157,570,696,177,87,...,118.4,246.0,0.609,404,0.169,0.287,NaN,NaN,NaN,11.3
12,13611,2018,Mookie Betts,BOS,25,136,520,614,180,96,...,110.6,217.0,0.500,434,0.220,0.270,NaN,NaN,NaN,10.4
1,1109,2003,Barry Bonds,SFG,38,130,390,550,133,65,...,NaN,NaN,NaN,0,0.135,0.223,NaN,NaN,NaN,10.2
73,10155,2013,Mike Trout,LAA,21,157,589,716,190,115,...,NaN,0.0,NaN,0,0.200,0.266,NaN,NaN,NaN,10.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6538,45,2012,Rod Barajas,PIT,36,104,321,361,66,44,...,NaN,0.0,NaN,0,0.147,0.258,NaN,NaN,NaN,-2.4
6899,1698,2010,Gerald Laird,DET,30,89,270,299,56,40,...,NaN,0.0,NaN,0,0.166,0.252,NaN,NaN,NaN,-2.4
7056,9272,2018,Chris Davis,BAL,32,128,470,522,79,51,...,111.8,113.0,0.401,282,0.174,0.316,NaN,NaN,NaN,-3.1
6683,319,2011,Adam Dunn,CHW,31,122,415,496,66,39,...,NaN,0.0,NaN,0,0.170,0.295,NaN,NaN,NaN,-2.9
945,2113,2008,Ryan Doumit,PIT,27,116,431,465,137,88,...,NaN,0.0,NaN,0,0.144,0.231,NaN,NaN,NaN,-3.4

In [6]:
def next_season(player):
    player = player.sort_values("Season")
    player["Next_WAR"] = player["WAR"].shift(-1)
    return player
batting = batting.groupby("IDfg", group_keys=False).apply(next_season)

In [7]:
batting[["Name", "Season", "WAR", "Next_WAR"]]

                    Name  Season  WAR  Next_WAR
5550     Alfredo Amezaga    2006  1.1       2.0
4991     Alfredo Amezaga    2007  2.0       1.2
5234     Alfredo Amezaga    2008  1.2       NaN
828      Garret Anderson    2003  5.1       0.8
2559     Garret Anderson    2004  0.8      -0.2
...                  ...     ...  ...       ...
3093        Ha-seong Kim    2023  4.4       NaN
1078  Vinnie Pasquantino    2022  1.5       0.0
3326  Vinnie Pasquantino    2023  0.0       NaN
2808        Seiya Suzuki    2022  2.1       3.2
1360        Seiya Suzuki    2023  3.2       NaN

[6775 rows x 4 columns]

In [8]:
null_count = batting.isnull().sum()

In [9]:
null_count

IDfg           0
Season         0
Name           0
Team           0
Age            0
            ...
xBA         6775
xSLG        6775
xwOBA       6775
L-WAR          0
Next_WAR    1202
Length: 321, dtype: int64

In [10]:
complete_cols = list(batting.columns[null_count == 0])

In [11]:
complete_cols

['IDfg',
 'Season',
 'Name',
 'Team',
 'Age',
 'G',
 'AB',
 'PA',
 'H',
 '1B',
 '2B',
 '3B',
 'HR',
 'R',
 'RBI',
 'BB',
 'IBB',
 'SO',
 'HBP',
 'SF',
 'SH',
 'GDP',
 'SB',
 'CS',
 'AVG',
 'GB',
 'FB',
 'LD',
 'IFFB',
 'Pitches',
 'Balls',
 'Strikes',
 'IFH',
 'BU',
 'BUH',
 'BB%',
 'K%',
 'BB/K',
 'OBP',
 'SLG',
 'OPS',
 'ISO',
 'BABIP',
 'GB/FB',
 'LD%',
 'GB%',
 'FB%',
 'IFFB%',
 'HR/FB',
 'IFH%',
 'BUH%',
 'wOBA',
 'wRAA',
 'wRC',
 'Bat',
 'Rep',
 'Pos',
 'RAR',
 'WAR',
 'Dol',
 'Spd',
 'wRC+',
 'WPA',
 '-WPA',
 '+WPA',
 'RE24',
 'REW',
 'pLI',
 'PH',
 'WPA/LI',
 'Clutch',
 'FB% (Pitch)',
 'FBv',
 'SL%',
 'SLv',
 'CB%',
 'CBv',
 'CH%',
 'CHv',
 'wFB',
 'wSL',
 'wCB',
 'wCH',
 'wFB/C',
 'wSL/C',
 'wCB/C',
 'wCH/C',
 'O-Swing%',
 'Z-Swing%',
 'Swing%',
 'O-Contact%',
 'Z-Contact%',
 'Contact%',
 'Zone%',
 'F-Strike%',
 'SwStr%',
 'BsR',
 'Def',
 'wSB',
 'UBR',
 'Age Rng',
 'Off',
 'Lg',
 'wGDP',
 'Pull%',
 'Cent%',
 'Oppo%',
 'Soft%',
 'Med%',
 'Hard%',
 'TTO%',
 'AVG+',
 'BB%+',
 'K%+',
 'OBP+',
 'SLG+',
 'ISO+',
 'BABIP+',
 'LD+%',
 'GB%+',
 'FB%+',
 'HR/FB%+',
 'Pull%+',
 'Cent%+',
 'Oppo%+',
 'Soft%+',
 'Med%+',
 'Hard%+',
 'Events',
 'CStr%',
 'CSW%',
 'L-WAR']

In [13]:
batting = batting[complete_cols + ["Next_WAR"]].copy()

In [14]:
batting

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,Cent%+,Oppo%+,Soft%+,Med%+,Hard%+,Events,CStr%,CSW%,L-WAR,Next_WAR
5550,1,2006,Alfredo Amezaga,FLA,28,132,334,378,87,72,...,107,113,143,109,63,0,0.188,0.256,1.1,2.0
4991,1,2007,Alfredo Amezaga,FLA,29,133,400,448,105,80,...,101,112,109,113,75,0,0.175,0.227,2.0,1.2
5234,1,2008,Alfredo Amezaga,FLA,30,125,311,337,82,61,...,101,101,123,111,64,0,0.178,0.244,1.2,NaN
828,2,2003,Garret Anderson,ANA,31,159,638,673,201,119,...,101,80,90,99,109,0,0.164,0.252,5.1,0.8
2559,2,2004,Garret Anderson,ANA,32,112,442,475,133,98,...,103,75,78,106,98,0,0.176,0.270,0.8,-0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3093,27506,2023,Ha-seong Kim,SDP,27,152,538,626,140,100,...,99,85,117,106,82,424,0.233,0.293,4.1,NaN
1078,27676,2022,Vinnie Pasquantino,KCR,24,72,258,298,76,56,...,104,87,79,93,123,226,0.162,0.228,1.5,0.0
3326,27676,2023,Vinnie Pasquantino,KCR,25,61,231,260,57,31,...,102,88,87,91,121,202,0.179,0.253,0.2,NaN
2808,30116,2022,Seiya Suzuki,CHC,27,111,397,446,104,66,...,105,130,106,95,106,290,0.232,0.312,2.0,3.2
1360,30116,2023,Seiya Suzuki,CHC,28,138,515,583,147,90,...,109,92,90,93,115,392,0.204,0.283,2.9,NaN

In [15]:
batting.dtypes

IDfg          int64
Season        int64
Name         object
Team         object
Age           int64
             ...
Events        int64
CStr%       float64
CSW%        float64
L-WAR       float64
Next_WAR    float64
Length: 133, dtype: object

In [16]:
batting.dtypes[batting.dtypes == "object"]

Name       object
Team       object
Dol        object
Age Rng    object
dtype: object

In [17]:
batting["Dol"]

5550     $5.5
4991    $11.2
5234     $7.2
828     $22.0
2559     $3.4
        ...
3093    $35.0
1078    $11.7
3326     $0.4
2808    $16.8
1360    $25.4
Name: Dol, Length: 6775, dtype: object

In [18]:
del batting ["Dol"]

In [19]:
batting["Age Rng"]

5550    28 - 28
4991    29 - 29
5234    30 - 30
828     31 - 31
2559    32 - 32
         ...
3093    27 - 27
1078    24 - 24
3326    25 - 25
2808    27 - 27
1360    28 - 28
Name: Age Rng, Length: 6775, dtype: object

In [20]:
del batting ["Age Rng"]

In [21]:
batting["team_code"]= batting["Team"].astype("category").cat.codes

In [22]:
batting_full = batting.copy()
batting = batting.dropna()

In [23]:
from sklearn.linear_model import Ridge 
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.model_selection import TimeSeriesSplit

rr = Ridge(alpha=1)

split = TimeSeriesSplit(n_splits=3)

sfs = SequentialFeatureSelector(rr, n_features_to_select=20, direction="forward", cv=split, n_jobs=4)

In [24]:
removed_columns = ["Next_WAR", "Name", "Team", "IDfg", "Season"]
selected_columns = batting.columns[~batting.columns.isin(removed_columns)]

In [25]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
batting.loc[:, selected_columns]= scaler.fit_transform(batting[selected_columns])

In [26]:
batting

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,Oppo%+,Soft%+,Med%+,Hard%+,Events,CStr%,CSW%,L-WAR,Next_WAR,team_code
5550,1,2006,Alfredo Amezaga,FLA,0.346154,0.735043,0.312950,0.307958,0.245690,0.278302,...,0.503759,0.662921,0.652174,0.194444,0.000000,0.581197,0.524229,0.294118,2.0,0.352941
4991,1,2007,Alfredo Amezaga,FLA,0.384615,0.743590,0.431655,0.429066,0.323276,0.316038,...,0.496241,0.471910,0.710145,0.277778,0.000000,0.525641,0.396476,0.352941,1.2,0.352941
828,2,2003,Garret Anderson,ANA,0.461538,0.965812,0.859712,0.818339,0.737069,0.500000,...,0.255639,0.365169,0.507246,0.513889,0.000000,0.478632,0.506608,0.555556,0.8,0.029412
2559,2,2004,Garret Anderson,ANA,0.500000,0.564103,0.507194,0.475779,0.443966,0.400943,...,0.218045,0.297753,0.608696,0.437500,0.000000,0.529915,0.585903,0.274510,-0.2,0.029412
4160,2,2005,Garret Anderson,LAA,0.538462,0.820513,0.746403,0.697232,0.573276,0.462264,...,0.278195,0.421348,0.478261,0.493056,0.000000,0.418803,0.533040,0.209150,0.1,0.441176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6555,27465,2022,Spencer Torkelson,DET,0.115385,0.547009,0.359712,0.352941,0.185345,0.165094,...,0.436090,0.337079,0.550725,0.486111,0.439065,0.504274,0.607930,0.156863,1.4,0.323529
6628,27506,2021,Ha-seong Kim,SDP,0.230769,0.606838,0.192446,0.169550,0.103448,0.089623,...,0.097744,0.629213,0.463768,0.368056,0.335559,0.700855,0.731278,0.261438,3.7,0.764706
4366,27506,2022,Ha-seong Kim,SDP,0.269231,0.888889,0.642086,0.660900,0.431034,0.349057,...,0.187970,0.516854,0.521739,0.381944,0.707846,0.653846,0.612335,0.483660,4.4,0.764706
1078,27676,2022,Vinnie Pasquantino,KCR,0.192308,0.222222,0.176259,0.169550,0.198276,0.202830,...,0.308271,0.303371,0.420290,0.611111,0.377295,0.470085,0.400881,0.320261,0.0,0.411765
2808,30116,2022,Seiya Suzuki,CHC,0.307692,0.555556,0.426259,0.425606,0.318966,0.250000,...,0.631579,0.455056,0.449275,0.493056,0.484140,0.769231,0.770925,0.352941,3.2,0.176471

In [27]:
batting.describe()

,IDfg,Season,Age,G,AB,PA,H,1B,2B,3B,...,Oppo%+,Soft%+,Med%+,Hard%+,Events,CStr%,CSW%,L-WAR,Next_WAR,team_code
count,5573.000000,5573.000000,5573.000000,5573.000000,5573.000000,5573.000000,5573.000000,5573.000000,5573.000000,5573.000000,...,5573.000000,5573.000000,5573.000000,5573.000000,5573.000000,5573.000000,5573.000000,5573.000000,5573.000000,5573.000000
mean,6140.320474,2012.173515,0.358625,0.649789,0.476716,0.478457,0.362740,0.287876,0.396725,0.101499,...,0.402789,0.411315,0.510695,0.467619,0.200169,0.497234,0.549602,0.352108,1.786345,0.475349
std,5638.151653,5.661218,0.146721,0.256315,0.241740,0.261327,0.182097,0.138467,0.171337,0.104970,...,0.130750,0.120887,0.131564,0.134996,0.284606,0.137496,0.120760,0.125710,1.985562,0.305263
min,1.000000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-3.400000,0.000000
25%,1326.000000,2007.000000,0.230769,0.470085,0.275180,0.256055,0.211207,0.174528,0.258621,0.043478,...,0.315789,0.331461,0.420290,0.375000,0.000000,0.405983,0.471366,0.261438,0.300000,0.205882
50%,4521.000000,2012.000000,0.346154,0.709402,0.501799,0.505190,0.366379,0.283019,0.379310,0.086957,...,0.398496,0.404494,0.507246,0.472222,0.000000,0.495726,0.550661,0.333333,1.500000,0.470588
75%,9893.000000,2017.000000,0.461538,0.871795,0.685252,0.705882,0.508621,0.386792,0.517241,0.130435,...,0.488722,0.483146,0.594203,0.555556,0.424040,0.589744,0.629956,0.418301,2.900000,0.735294
max,30116.000000,2022.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,11.900000,1.000000

In [28]:
sfs.fit(batting[selected_columns], batting["Next_WAR"])

SequentialFeatureSelector(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None),
                          estimator=Ridge(alpha=1), n_features_to_select=20,
                          n_jobs=4)

In [29]:
predictors = list(selected_columns[sfs.get_support()])

In [30]:
def backtest(data, model, predictors, start=5, step=1):
    all_predictions = []
    
    years = sorted(data["Season"].unique())
    
    for i in range(start, len(years), step):
        current_year = years[i]
        
        train = data[data["Season"] < current_year]
        test = data[data["Season"] == current_year]
        
        model.fit(train[predictors], train ["Next_WAR"])
        
        preds = model.predict(test[predictors])
        preds = pd.Series(preds, index=test.index)
        combined = pd.concat ([test["Next_WAR"], preds], axis=1)
        combined.columns = ["actual", "prediction"]
        
        all_predictions.append(combined)
    return pd.concat(all_predictions)

In [31]:
predictions = backtest(batting, rr, predictors)

In [32]:
predictions

      actual  prediction
3315    -1.1    0.706998
4319     0.7    0.085818
780     -0.1    3.101974
5161     1.5    1.056240
3188     0.6    1.033133
...      ...         ...
6808     0.0    1.634394
6555     1.4    1.726342
4366     4.4    2.869866
1078     0.0    2.340566
2808     3.2    2.264137

[4128 rows x 2 columns]

In [33]:
from sklearn.metrics import mean_squared_error
mean_squared_error(predictions["actual"], predictions["prediction"])

2.72704908782196

In [34]:
batting["Next_WAR"].describe()

count    5573.000000
mean        1.786345
std         1.985562
min        -3.400000
25%         0.300000
50%         1.500000
75%         2.900000
max        11.900000
Name: Next_WAR, dtype: float64

In [35]:
2.72704908782196 ** .5

1.651377936095175

In [57]:
def player_history(df):
    df = df.sort_values("Season")
    
    df["player_season"] = range(0, df.shape[0])
    df["war_corr"] = list(df[["player_season", "WAR"]].expanding().corr().loc[(slice(None), "player_season"), "WAR"])
    df["war_corr"].fillna(1, inplace=True)
    
    df["war_diff"] = df["WAR"] / df ["WAR"]. shift(1)
    df["war_diff"].fillna(1, inplace=True)
    
    df["war_diff"][df["war_diff"] == np.inf] = 1
    
    return df

batting = batting.groupby("IDfg", group_keys=False).apply(player_history)

In [58]:
def group_averages(df):
    return df ["WAR"] / df ["WAR"].mean()

In [59]:
batting["war_season"] = batting.groupby("Season", group_keys=False).apply(group_averages)

In [60]:
new_predictors = predictors + ["player_season", "war_corr", "war_season", "war_diff"]

In [61]:
predictions = backtest(batting, rr, new_predictors)

In [62]:
mean_squared_error(predictions["actual"], predictions["prediction"])

2.6336794880162664

In [65]:
pd.Series(rr.coef_, index=new_predictors).sort_values()

Age             -2.801797
BABIP           -1.938128
WAR             -1.564013
ISO             -1.312186
BU              -1.224919
BB/K            -1.157727
Soft%           -0.941278
war_diff        -0.660798
PH              -0.655692
SO              -0.547958
wGDP            -0.497213
CB%             -0.387170
war_corr        -0.119645
L-WAR           -0.076352
player_season    0.001914
IFH%             0.401882
O-Contact%       0.463653
Oppo%            0.813601
SB               0.835318
Spd              0.899607
BB%              1.117504
IBB              1.309525
Hard%+           2.390840
war_season       3.473782
dtype: float64

In [66]:
diff = predictions["actual"] - predictions["prediction"]

In [69]:
merged = predictions.merge(batting, left_index=True, right_index=True)

In [71]:
merged["diff"] = (predictions["actual"] - predictions["prediction"]).abs()

In [73]:
merged[["IDfg", "Season", "Name", "WAR", "Next_WAR", "diff"]].sort_values(["diff"])

       IDfg  Season             Name       WAR  Next_WAR      diff
1135   2113    2011      Ryan Doumit  0.209150      -1.2  0.000017
363    8267    2008   Chris Iannetta  0.248366       1.6  0.000123
6341  10199    2017   Billy Hamilton  0.339869       1.9  0.000272
759   10264    2016     Brandon Belt  0.464052       2.4  0.000293
4026   6153    2014  Eduardo Escobar  0.392157       1.9  0.000437
...     ...     ...              ...       ...       ...       ...
3217   5631    2010        Matt Kemp  0.222222       8.3  6.327256
3798   1875    2009    Josh Hamilton  0.307190       8.4  6.328268
834    9166    2010     Buster Posey  0.483660      10.1  6.806308
2508  11579    2014     Bryce Harper  0.326797       9.3  7.396378
432   15640    2021      Aaron Judge  0.588235      11.6  7.594433

[4128 rows x 6 columns]